version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    volumes:
      - mongo_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    ports:
      - "27017:27017"
    networks:
      - torlab
    restart: unless-stopped
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123
    depends_on:
      - mongo
    networks:
      - torlab


  relay1:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay1
    ports:
      - "3001:3000"
    environment:
      NODE_ID: 1
      NODE_NAME: relay1
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 10
      MAX_DELAY_MS: 150
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay2:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay2
    ports:
      - "3002:3000"
    environment:
      NODE_ID: 2
      NODE_NAME: relay2
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 20
      MAX_DELAY_MS: 180
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay3:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay3
    ports:
      - "3003:3000"
    environment:
      NODE_ID: 3
      NODE_NAME: relay3
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 15
      MAX_DELAY_MS: 200
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay4:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay4
    ports:
      - "3004:3000"
    environment:
      NODE_ID: 4
      NODE_NAME: relay4
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 5
      MAX_DELAY_MS: 100
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay5:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay5
    ports:
      - "3005:3000"
    environment:
      NODE_ID: 5
      NODE_NAME: relay5
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 12
      MAX_DELAY_MS: 160
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay6:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay6
    ports:
      - "3006:3000"
    environment:
      NODE_ID: 6
      NODE_NAME: relay6
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 20
      MAX_DELAY_MS: 180
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay7:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay7
    ports:
      - "3007:3000"
    environment:
      NODE_ID: 7
      NODE_NAME: relay7
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 10
      MAX_DELAY_MS: 120
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay8:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay8
    ports:
      - "3008:3000"
    environment:
      NODE_ID: 8
      NODE_NAME: relay8
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 8
      MAX_DELAY_MS: 160
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  relay9:
    build:
      context: .
      dockerfile: relay.Dockerfile
    container_name: relay9
    ports:
      - "3009:3000"
    environment:
      NODE_ID: 9
      NODE_NAME: relay9
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017/torlab
      MIN_DELAY_MS: 18
      MAX_DELAY_MS: 190
    depends_on: [mongo]
    networks: [torlab]
    restart: unless-stopped

  # ------------------------------
  # CLIENT (makes random circuits)
  # ------------------------------

  client:
    build:
      context: .
      dockerfile: client.Dockerfile
    container_name: client
    environment:
      PORT: 4000
      MONGO_URL: mongodb://mongo:27017/torlab
      RELAY_COUNT: 9
      MIN_ROUTE_HOPS: 3
      MAX_ROUTE_HOPS: 3
    depends_on:
      - mongo
      - relay1
      - relay2
      - relay3
      - relay4
      - relay5
      - relay6
      - relay7
      - relay8
      - relay9
    ports:
      - "4000:4000"
    networks: [torlab]
    restart: unless-stopped

volumes:
  mongo_data:

networks:
  torlab:
    driver: bridge
